@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@900&display=swap');

body {
  background-color: white;
  font-family: 'Lato', arial, sans-serif;
}

h1, h2 {
  font-family: 'Merriweather', arial, serif;
  color: #112e44;
  line-height: 1em;
}

#content {
  max-width: 750px;
  margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;  
    background-color: white;
    border-radius: 10px;
}

.home-headline {
    grid-column: 1/4;
    grid-row: 1;
    padding-left: 10px;
}

.home-nav {
    grid-column: 2/4;
    grid-row: 2/3;
}

header, footer {
  background-color: #FBAF00;
  border-radius: 10px;
  margin: 3px;
  padding: 0.25em;
  align-items: center;
}

header img {
    float: right;
    margin-top: -50px;
    margin-right: 10px;
    width: 25%;
    box-shadow: 0 15px 25px 0 rgba(95, 94, 94, 0.8);
}

.header-name h1 {
    text-align: center;
}

footer p {
    text-align: center;
}

#currentdate {
    background-color: white;
}

@media screen and (max-width: 550px) {
  /*beginning of media query*/
  .home-grid {
    display: block;
  }

  .home-grid, nav ul {
    display: block;
  }

  .home-grid, nav ul, .banner-box {
    display: block;
  }

    footer {
    display: block;
    }

  /*end of media query*/
}