/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

header, nav, main, footer {
    max-width: 1024px;
    margin:0 auto;
}

.pictureholder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pictureholder .card:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 10px 24px 0 rgba(0, 0, 0, 0.5);    
}
    
/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */