/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 17px;
    font-family: 'Lato', serif;
}


/*----------- HEADER --------------*/

div#headerWrapper {
    background-color: #214A66;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

header {
    padding: .5rem 2%;
    background-color: #214A66;
}
header img {float: left; margin-right: 10px; width: 50px;}
header h1 {margin: 0; font-family: 'Pacifico', sans-serif; font-size: 2rem; color: white;}
header h2 {margin: 0; font-family: 'Pacifico', sans-serif; font-size: 1.5rem; color: white;}

/*----------- NAVIGATION --------------*/
div#navWrapper {
    background-color: #F0574F;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

nav {
    background-color: #F0574F;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: 1rem 2%;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.8);
}


nav ul li a:hover {
    background-color: #F4C43C;
    color: black;
}
nav ul li.active a {
    background-color: #70C6D3;
    color: black;
}

nav ul.hide {display:none;}

/*----------- MAIN --------------*/

div.showme {display: block;}

div.hideme {display: none;}

body {
    background-color: #eed6b5;
}

main {
    padding: 0 2%;
    min-height: 10rem;
}

main h1 {
    font-family: 'Pacifico', sans-serif;
    margin: 1.5rem 2%;
}

main p {
    font-size: 1.5rem;
}

h2 {font-family: 'Pacifico', sans-serif;}

h3 {font-family: 'Pacifico', sans-serif;}

input.submitBtn {
    border: none;
    background: transparent;
    color: black;
    font-family: 'Lato', sans-serif;
    border: solid #0278AE 2px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 18rem;
    text-align: center;
}

input.submitBtn:hover  {
    color:  #fff;
    background:  rgba(2, 120, 174, 0.2);
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #0278AE;
    padding: .5rem 2%;
}

form legend {
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5rem;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form div.top, form label.top, form label.slider, form dv {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}


form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
    font-size: .8rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

textarea {
    width: 100%;
}

.social {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.contact {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*----------- FOOTER --------------*/
div#footerWrapper {background-color: #214A66;}

footer {
    background-color: #214A66;
    padding: .5rem 2%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}