@media only screen and (min-width: 560px) {

main {
    grid-template-columns: 1fr 1fr;    
}

section figure {
    width: 100%;
    padding-bottom: .5rem;
}

section.volkswagen {
    grid-column: 1;
    padding: 5px;
}

section.walmart {
    grid-column: 2;
    padding: 5px;
}

section.church {
    grid-column: 2;
    padding: 5px;
}



} /* end of media query */